<section>
  <div class="row">
    <div class="overflow-x" [ngClass]="_car ? 'col-12 col-md-6' : 'col-12'">
      <app-table-header
        [_cars]="_cars"
        (onSelect)="onSelect($event)"
      ></app-table-header>
    </div>
    <div class="car-form col-12 col-md-6" *ngIf="_car">
      <form [formGroup]="_carForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-12">
                <label>
                  Vehicle ID:
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="vehicleId"
                />
                <div
                  class="form-control-feedback error-color"
                  *ngIf="
                    _carForm.controls['vehicleId'].invalid &&
                    _carForm.controls['vehicleId'].touched
                  "
                >
                  {{ getErrorMessage("vehicleId") }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <label>
                  Name:
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
                <div
                  class="form-control-feedback error-color"
                  *ngIf="
                    _carForm.controls['name'].invalid &&
                    _carForm.controls['name'].touched
                  "
                >
                  {{ getErrorMessage("name") }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-tabs>
              <app-tab [tabTitle]="'Tab 1'">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group row">
                      <label>
                        Model:
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="model"
                      />
                      <div
                        class="form-control-feedback error-color"
                        *ngIf="
                          _carForm.controls['model'].invalid &&
                          _carForm.controls['model'].touched
                        "
                      >
                        {{ getErrorMessage("model") }}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label>
                        Year:
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        formControlName="year"
                      />
                      <div
                        class="form-control-feedback error-color"
                        *ngIf="
                          _carForm.controls['year'].invalid &&
                          _carForm.controls['year'].touched
                        "
                      >
                        {{ getErrorMessage("year") }}
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="carType">Type</label>
                      <select
                        class="form-control"
                        formControlName="carType"
                        (change)="changeCarType($event.target.value)"
                      >
                        <option value="0" disabled
                          >Choose your typeof car</option
                        >
                        <option
                          *ngFor="let itemType of carTypes"
                          [ngValue]="itemType"
                          >{{ itemType }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </app-tab>
              <app-tab tabTitle="Tab 2">
                Tab 2 content
              </app-tab>
            </app-tabs>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-around">
          <span>
            <button
              *ngIf="!_car.vehicleId"
              class="btn btn-success"
              type="submit"
              [disabled]="!_carForm.valid"
            >
              Add
            </button>
            <button
              *ngIf="_car.vehicleId"
              class="btn btn-success"
              type="submit"
              [disabled]="!_carForm.valid"
            >
              Change
            </button>
          </span>
          <button class="btn btn-danger" (click)="hideItemCarForm()">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!_car" class="row m-5">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        (click)="addNewCar()"
      >
        Add new car
      </button>
    </div>
  </div>
</section>
<ng-template #elseBlock>
  <div class="d-flex justify-content-center align-items-center h-100vh">
    <p class="h1">
      Car list is empty :(
    </p>
  </div>
</ng-template>
