.h-100vh {
  height: 100vh;
}

input::placeholder {
  color: gray;
  font-style: italic;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

input.ng-touched.ng-invalid {
  border: solid red 1px;
}
input.ng-touched.ng-valid {
  border: solid green 1px;
}

.form-element-height {
  height: 3.5rem;
}

.form-margin {
  margin-top: -60px;
}

.error-color {
  color: #d9534f;
}

.car-form {
  background-color: #fafafa;
}

.overflow-x {
  overflow-x: auto;
}