<div class="component-style table-component">
  <table class="table">
    <tr>
      <th *ngFor="let itemColum of tHeader">{{ itemColum }}</th>
    </tr>
    <tr
      class="component-style table-row-component"
      *ngFor="let car of _cars"
      app-table-body
      [car]="car"
      [columns]="columns"
      (onSelect)="onSelected($event)"
    ></tr>
  </table>
</div>
